In [11]:
import pandas as pd
import numpy as np

## Data Clean and Concat

In [12]:
first = pd.read_csv('../data/combined/FIRST_WISE_SDSS_DR12.csv')
spies = pd.read_csv('../data/raw/SpIES_WISE_SDSS_DR12_corrected.csv')
red_q = pd.read_csv('../data/red_qso.csv')
galaxy = pd.read_csv('../data/raw/SDSS_galaxies_matched.csv')

In [13]:
first['data'] = 'FIRST'
spies['data'] = 'SpIES'
galaxy['data'] = 'GALAXY'

In [14]:
first_c = first.drop(columns = ['errHalfMaj',
       'errHalfMin', 'errPosAng','errHalfMaj_x', 'errHalfMin_x', 'errPosAng_x',
                      'e_umag','e_gmag','e_rmag','e_imag','e_zmag','e_zsp', 'e_zph',
                     'e_pmRA','e_pmDE','RAdeg', 'DEdeg'])

spies_c = spies.drop(columns = ['ra_x',
       'dec_x', 'errHalfMaj', 'errHalfMin', 'errPosAng','e_W1mag', 'e_W2mag',
       'e_W3mag', 'e_W4mag', 'e_Jmag', 'e_Hmag', 'e_Kmag','RAdeg', 'DEdeg',
       'errHalfMaj_x', 'errHalfMin_x', 'errPosAng_x', 'e_umag','e_gmag','e_rmag','e_imag','e_zmag','e_zsp', 'e_zph',
                     'e_pmRA','e_pmDE','W1mag', 'W2mag'])

In [15]:
first_c.rename(columns ={'ra_u':'RA','dec_u':'DEC','Jmag':'J_mag','Kmag':'K_mag','Class':'class'},inplace = True)

In [16]:
spies_c.rename(columns = {'G_MAG_AB':'G_mag','R_MAG_AB':'R_mag', 'Y_MAG_AB':'Y_mag', 'J_MAG_AB':'J_mag',
       'H_MAG_AB':'H_mag', 'K_MAG_AB':'K_mag','ch1_mag':'W1mag','ch2_mag':'W2mag'},inplace = True)

In [17]:
galaxy.rename(columns = {'December': 'DEC'},inplace = True)

In [18]:
f_s = pd.concat([spies_c,first_c])

In [19]:
f_s_c = f_s.drop(columns = ['Y_mag','H_mag','Jmag', 'Hmag', 'Kmag','ext_flg','r_2mass',
                   'zsp', 'f_zsp', 'zph', 'avg_zph','pmRA', 'pmDE', 'angDist_x','fpeak_u','fint_u','rmag','gmag'])

In [20]:
pd.set_option('display.float_format', lambda x: '%.5f' % x)

In [21]:
f_s_c.describe()

,counter,RA,DEC,G_mag,R_mag,J_mag,K_mag,W1mag,W2mag,gj,...,objID,mode,class_x,flags,ObsDate,Q,umag,imag,zmag,SpObjID
count,231.00000,440.00000,440.00000,440.00000,440.00000,429.00000,440.00000,440.00000,440.00000,231.00000,...,440.00000,440.00000,440.00000,440.00000,440.00000,440.00000,440.00000,440.00000,440.00000,440.00000
mean,121.18182,197.01577,2.66482,22.79925,21.51493,19.06353,17.50228,16.66543,16.12041,3.29813,...,1237659168395882752.00000,1.64091,3.47727,1906697916076381.75000,2002.51380,2.77273,23.82290,20.53539,19.96456,109393960844698272.00000
std,70.66936,120.46652,4.44665,0.95655,0.94111,0.77973,1.19416,1.79079,2.24580,0.46682,...,6168163225937.60449,0.48028,1.09853,14063532886316578.00000,1.84952,0.58701,1.24549,0.82975,0.87924,805305094907043840.00000
min,2.00000,0.06254,-2.92029,19.74073,18.63284,16.25200,13.39000,11.74400,10.64500,2.04061,...,1237645877943140608.00000,1.00000,3.00000,268435456.00000,1998.71670,1.00000,18.76600,18.00600,17.28900,0.00000
25%,59.50000,140.82608,-0.30433,22.36024,21.16245,18.61700,16.50825,15.11200,14.19950,3.01728,...,1237654669069369856.00000,1.00000,3.00000,68987912960.00000,2001.14550,3.00000,22.91175,20.10075,19.55550,0.00000
50%,119.00000,195.73302,0.55600,22.87865,21.53590,19.21418,17.89172,16.97293,16.41712,3.26518,...,1237660224772342272.00000,2.00000,3.00000,35253360136208.00000,2002.82905,3.00000,23.71800,20.56200,19.95300,0.00000
75%,182.50000,335.98671,4.96024,23.33717,21.97872,19.67212,18.65466,18.35346,18.25728,3.56271,...,1237663505589715456.00000,2.00000,3.00000,263953926194850.00000,2003.80650,3.00000,24.69475,20.97050,20.33275,0.00000
max,243.00000,359.92120,14.97249,29.96000,29.77600,20.57677,18.89980,19.62744,19.59389,5.02965,...,1237676326577242624.00000,2.00000,6.00000,144238402399764480.00000,2007.88570,3.00000,27.31000,25.41300,28.55000,6170197397114384384.00000

In [22]:
f_s_c.rename(columns = {'umag':'U_mag','imag':'I_mag','zmag':'Z_mag'},inplace = True)

In [23]:
f_s_c = pd.concat([f_s_c,red_q])

In [24]:
galaxy.drop(columns ='H_mag',inplace = True)

In [25]:
f_s_c = pd.concat([f_s_c,galaxy])

In [26]:
f_s_c = f_s_c[['counter', 'RA', 'DEC', 'U_mag','G_mag', 'R_mag', 'I_mag', 'Z_mag','J_mag', 'K_mag', 'W1mag', 'W2mag','gj', 'rj',
       'jk', 'rk', 'Fpk', 'Hpk', 'redshift', 'specObjID', 'class', 'JNAME',
       'W3mag', 'W4mag', 'cntr', 'cc_flags', 'var_flg',
       'ph_qual', 'angDist', 'objID', 'mode', 'q_mode', 'class_x', 'SDSS12',
       'm_SDSS12', 'flags', 'ObsDate', 'Q',  
       'SpObjID', 'spType', 'spCl', 'subClass', 'data', 'designation',
       'spectrum']]

## Color Features

u,g,r,i,z,j,k, w1,w2

In [27]:
f_s_c['ug'] = f_s_c['U_mag'] - f_s_c['G_mag']
f_s_c['ur'] = f_s_c['U_mag'] - f_s_c['R_mag']
f_s_c['ui'] = f_s_c['U_mag'] - f_s_c['I_mag']
f_s_c['uz'] = f_s_c['U_mag'] - f_s_c['Z_mag']
f_s_c['uj'] = f_s_c['U_mag'] - f_s_c['J_mag']
f_s_c['uk'] = f_s_c['U_mag'] - f_s_c['K_mag']
f_s_c['uw1'] = f_s_c['U_mag'] - f_s_c['W1mag']
f_s_c['uw2'] = f_s_c['U_mag'] - f_s_c['W2mag']

f_s_c['gr'] = f_s_c['G_mag'] - f_s_c['R_mag']
f_s_c['gi'] = f_s_c['G_mag'] - f_s_c['I_mag']
f_s_c['gz'] = f_s_c['G_mag'] - f_s_c['Z_mag']
f_s_c['gj'] = f_s_c['G_mag'] - f_s_c['J_mag']
f_s_c['gk'] = f_s_c['G_mag'] - f_s_c['K_mag']
f_s_c['gw1'] = f_s_c['G_mag'] - f_s_c['W1mag']
f_s_c['gw2'] = f_s_c['G_mag'] - f_s_c['W2mag']

f_s_c['ri'] = f_s_c['R_mag'] - f_s_c['I_mag']
f_s_c['rz'] = f_s_c['R_mag'] - f_s_c['Z_mag']
f_s_c['rj'] = f_s_c['R_mag'] - f_s_c['J_mag']
f_s_c['rk'] = f_s_c['R_mag'] - f_s_c['K_mag']
f_s_c['rw1'] = f_s_c['R_mag'] - f_s_c['W1mag']
f_s_c['rw2'] = f_s_c['R_mag'] - f_s_c['W2mag']

f_s_c['iz'] = f_s_c['I_mag'] - f_s_c['Z_mag']
f_s_c['ij'] = f_s_c['I_mag'] - f_s_c['J_mag']
f_s_c['ik'] = f_s_c['I_mag'] - f_s_c['K_mag']
f_s_c['iw1'] = f_s_c['I_mag'] - f_s_c['W1mag']
f_s_c['iw2'] = f_s_c['I_mag'] - f_s_c['W2mag']


f_s_c['zj'] = f_s_c['Z_mag'] - f_s_c['J_mag']
f_s_c['zk'] = f_s_c['Z_mag'] - f_s_c['K_mag']
f_s_c['zw1'] = f_s_c['Z_mag'] - f_s_c['W1mag']
f_s_c['zw2'] = f_s_c['Z_mag'] - f_s_c['W2mag']


f_s_c['jk'] = f_s_c['J_mag'] - f_s_c['K_mag']
f_s_c['jw1'] = f_s_c['J_mag'] - f_s_c['W1mag']
f_s_c['jw2'] = f_s_c['J_mag'] - f_s_c['W2mag']

f_s_c['kw1'] = f_s_c['K_mag'] - f_s_c['W1mag']
f_s_c['kw2'] = f_s_c['K_mag'] - f_s_c['W2mag']


f_s_c['w1w2'] = f_s_c['W1mag'] - f_s_c['W2mag']

In [28]:
f_s_c.columns

Index(['counter', 'RA', 'DEC', 'U_mag', 'G_mag', 'R_mag', 'I_mag', 'Z_mag',
       'J_mag', 'K_mag', 'W1mag', 'W2mag', 'gj', 'rj', 'jk', 'rk', 'Fpk',
       'Hpk', 'redshift', 'specObjID', 'class', 'JNAME', 'W3mag', 'W4mag',
       'cntr', 'cc_flags', 'var_flg', 'ph_qual', 'angDist', 'objID', 'mode',
       'q_mode', 'class_x', 'SDSS12', 'm_SDSS12', 'flags', 'ObsDate', 'Q',
       'SpObjID', 'spType', 'spCl', 'subClass', 'data', 'designation',
       'spectrum', 'ug', 'ur', 'ui', 'uz', 'uj', 'uk', 'uw1', 'uw2', 'gr',
       'gi', 'gz', 'gk', 'gw1', 'gw2', 'ri', 'rz', 'rw1', 'rw2', 'iz', 'ij',
       'ik', 'iw1', 'iw2', 'zj', 'zk', 'zw1', 'zw2', 'jw1', 'jw2', 'kw1',
       'kw2', 'w1w2'],
      dtype='object')

In [29]:
class_cleaned = []
for i in f_s_c['class']:
    if i == 'QSO' or i == 'QSO?' or i == 'QSO??':
        class_cleaned.append('QSO')
    elif i =='?' or i =='??':
        class_cleaned.append('?')
    else:
        class_cleaned.append(i)
        
f_s_c['class_cleaned'] = class_cleaned

In [30]:
feature_cleaned = f_s_c[['data','RA', 'DEC', 'G_mag', 'R_mag', 'J_mag', 'K_mag','redshift','class','U_mag', 'I_mag', 'Z_mag','ug', 'ur', 'ui', 'uz', 'uj', 'uk', 'uw1', 'uw2', 'gr',
       'gi', 'gz', 'gk', 'gw1', 'gw2', 'ri', 'rz', 'rw1', 'rw2', 'iz', 'ij',
       'ik', 'iw1', 'iw2', 'zj', 'zk', 'zw1', 'zw2', 'jw1', 'jw2', 'kw1',
       'kw2', 'w1w2',
       'class_cleaned']]

In [31]:
f_s_c.to_csv('../data/features.csv')
feature_cleaned.to_csv('../data/feature_cleaned.csv')

## clean_class
- "none" and "no_obs" means these data points haven't have the spectral data yet

In [32]:
df_1 = pd.read_csv('../data/feature_cleaned.csv')

In [33]:
x = df_1[df_1['class_cleaned'] != 'none']
y = x[x['class_cleaned'] != 'no_obs']

In [34]:
y['class_cleaned'].unique()

array(['?', 'QSO', 'AGN', 'NL??', 'QSO/AGN', 'weak-det', 'NLAGN', 'star',
       'NLAGN?', 'NLAGN?no_obs', 'duplicate', 'Starb', 'redQSO', 'GALAXY',
       'absGAL'], dtype=object)

In [35]:
count_class = pd.DataFrame(y['class_cleaned'].value_counts()).reset_index()
count_class.rename(columns = {'index' : 'class_cleaned','class_cleaned':'occ'},inplace = True)

In [36]:
count_class

   class_cleaned  occ
0              ?   77
1            QSO   67
2         redQSO   63
3         GALAXY   46
4         absGAL   13
5          NLAGN    4
6       weak-det    2
7            AGN    2
8      duplicate    2
9        QSO/AGN    2
10  NLAGN?no_obs    1
11         Starb    1
12          NL??    1
13          star    1
14        NLAGN?    1

In [37]:
y = y[y['class_cleaned'] != '?']

In [38]:
count_class = pd.DataFrame(y['class_cleaned'].value_counts()).reset_index()
count_class.rename(columns = {'index' : 'class_cleaned','class_cleaned':'occ'},inplace = True)
count_class

   class_cleaned  occ
0            QSO   67
1         redQSO   63
2         GALAXY   46
3         absGAL   13
4          NLAGN    4
5       weak-det    2
6            AGN    2
7      duplicate    2
8        QSO/AGN    2
9   NLAGN?no_obs    1
10         Starb    1
11          NL??    1
12          star    1
13        NLAGN?    1

In [39]:
class_bin = []
for i in y['class_cleaned']:
    if i == 'QSO' or i == 'redQSO':
        class_bin.append(1)
    else:
        class_bin.append(0)
        
y['class_bin'] = class_bin

In [40]:
count_class = pd.DataFrame(y['class_bin'].value_counts()).reset_index()
count_class.rename(columns = {'index' : 'class_bin','class_bin':'occ'},inplace = True)
count_class

   class_bin  occ
0          1  130
1          0   76

In [41]:
final = y.reset_index().drop(columns = ['Unnamed: 0','class','index'])

In [42]:
final['index'] = final.index

In [43]:
final.to_csv('../data/train_qso.csv')

In [44]:
len(final)

206

# Getting rid of NAN

In [45]:
df = pd.read_csv('../data/train_qso.csv')

In [46]:
data = df[['index','ug', 'ur', 'ui', 'uz', 'uj', 'uk', 'uw1', 'uw2', 'gr',
       'gi', 'gz', 'gk', 'gw1', 'gw2', 'ri', 'rz', 'rw1', 'rw2', 'iz', 'ij',
       'ik', 'iw1', 'iw2', 'zj', 'zk', 'zw1', 'zw2', 'jw1', 'jw2', 'kw1',
       'kw2', 'w1w2','class_bin']]

In [47]:
def clean_dataset(df):
    assert isinstance(df, pd.DataFrame), "df needs to be a pd.DataFrame"
    df.dropna(inplace=True)
    indices_to_keep = ~df.isin([np.nan, np.inf, -np.inf]).any(1)
    return df[indices_to_keep].astype(np.float64)

In [48]:
clean_dataset(data)

/Users/maoshirley/.pyenv/versions/3.7.7/envs/lewagon/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,index,ug,ur,ui,uz,uj,uk,uw1,uw2,gr,...,zj,zk,zw1,zw2,jw1,jw2,kw1,kw2,w1w2,class_bin
0,0.00000,1.66960,2.79980,3.94600,4.65300,4.77483,5.71246,6.83926,7.14002,1.13020,...,0.12183,1.05946,2.18625,2.48702,2.06442,2.36518,1.12680,1.42756,0.30076,1.00000
1,1.00000,0.04280,1.46910,2.16500,2.48700,3.12021,4.25930,4.17710,4.23073,1.42630,...,0.63321,1.77229,1.69010,1.74373,1.05689,1.11052,-0.08220,-0.02857,0.05363,1.00000
2,2.00000,0.50840,0.94060,2.10600,3.06000,3.93702,5.33672,6.81894,7.41170,0.43220,...,0.87702,2.27672,3.75894,4.35170,2.88193,3.47468,1.48222,2.07498,0.59276,1.00000
3,3.00000,1.90900,3.50230,4.20800,4.64900,5.29542,6.24570,6.21419,6.14514,1.59330,...,0.64642,1.59670,1.56519,1.49614,0.91877,0.84972,-0.03151,-0.10056,-0.06905,1.00000
4,4.00000,2.79780,4.19360,5.03800,5.57100,5.85766,6.86251,6.54682,6.47956,1.39580,...,0.28666,1.29151,0.97582,0.90856,0.68916,0.62190,-0.31569,-0.38295,-0.06726,1.00000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199,199.00000,1.32500,1.96800,2.42900,2.66100,2.51800,4.17700,5.31700,6.37000,0.64300,...,-0.14300,1.51600,2.65600,3.70900,2.79900,3.85200,1.14000,2.19300,1.05300,0.00000
200,200.00000,1.23200,1.70200,2.12500,2.23800,2.79100,3.94900,4.86500,5.84500,0.47000,...,0.55300,1.71100,2.62700,3.60700,2.07400,3.05400,0.91600,1.89600,0.98000,0.00000
202,202.00000,1.32200,2.08600,2.57500,2.90700,3.47500,4.77800,5.61500,6.34800,0.76400,...,0.56800,1.87100,2.70800,3.44100,2.14000,2.87300,0.83700,1.57000,0.73300,0.00000
203,203.00000,1.86900,2.75500,3.19300,3.51700,3.70100,5.16400,6.30500,7.44600,0.88600,...,0.18400,1.64700,2.78800,3.92900,2.60400,3.74500,1.14100,2.28200,1.14100,0.00000
204,204.00000,0.98700,1.69400,2.00800,2.24000,1.90200,3.39700,5.26700,6.37100,0.70700,...,-0.33800,1.15700,3.02700,4.13100,3.36500,4.46900,1.87000,2.97400,1.10400,0.00000

In [49]:
np.any(np.isnan(data[['ug', 'ur', 'ui', 'uz', 'uj', 'uk', 'uw1', 'uw2', 'gr',
       'gi', 'gz', 'gk', 'gw1', 'gw2', 'ri', 'rz', 'rw1', 'rw2', 'iz', 'ij',
       'ik', 'iw1', 'iw2', 'zj', 'zk', 'zw1', 'zw2', 'jw1', 'jw2', 'kw1',
       'kw2', 'w1w2','class_bin']]))

False

In [50]:
final = data.merge(df[['index','RA','DEC']],on = 'index')

In [51]:
final.dropna(inplace = True)

In [52]:
final.drop(columns ='index',inplace = True)
final['index'] = final.index+1

In [53]:
final

,ug,ur,ui,uz,uj,uk,uw1,uw2,gr,gi,...,zw2,jw1,jw2,kw1,kw2,w1w2,class_bin,RA,DEC,index
0,1.66960,2.79980,3.94600,4.65300,4.77483,5.71246,6.83926,7.14002,1.13020,2.27640,...,2.48702,2.06442,2.36518,1.12680,1.42756,0.30076,1,3.80633,-0.54967,1
1,0.04280,1.46910,2.16500,2.48700,3.12021,4.25930,4.17710,4.23073,1.42630,2.12220,...,1.74373,1.05689,1.11052,-0.08220,-0.02857,0.05363,1,5.42900,-0.10199,2
2,0.50840,0.94060,2.10600,3.06000,3.93702,5.33672,6.81894,7.41170,0.43220,1.59760,...,4.35170,2.88193,3.47468,1.48222,2.07498,0.59276,1,9.47431,-0.86446,3
3,1.90900,3.50230,4.20800,4.64900,5.29542,6.24570,6.21419,6.14514,1.59330,2.29900,...,1.49614,0.91877,0.84972,-0.03151,-0.10056,-0.06905,1,10.37287,0.13363,4
4,2.79780,4.19360,5.03800,5.57100,5.85766,6.86251,6.54682,6.47956,1.39580,2.24020,...,0.90856,0.68916,0.62190,-0.31569,-0.38295,-0.06726,1,11.81904,0.38054,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
189,1.32500,1.96800,2.42900,2.66100,2.51800,4.17700,5.31700,6.37000,0.64300,1.10400,...,3.70900,2.79900,3.85200,1.14000,2.19300,1.05300,0,349.69410,0.85728,190
190,1.23200,1.70200,2.12500,2.23800,2.79100,3.94900,4.86500,5.84500,0.47000,0.89300,...,3.60700,2.07400,3.05400,0.91600,1.89600,0.98000,0,353.13466,0.47253,191
191,1.32200,2.08600,2.57500,2.90700,3.47500,4.77800,5.61500,6.34800,0.76400,1.25300,...,3.44100,2.14000,2.87300,0.83700,1.57000,0.73300,0,354.09508,-0.44759,192
192,1.86900,2.75500,3.19300,3.51700,3.70100,5.16400,6.30500,7.44600,0.88600,1.32400,...,3.92900,2.60400,3.74500,1.14100,2.28200,1.14100,0,354.82398,-0.24965,193
193,0.98700,1.69400,2.00800,2.24000,1.90200,3.39700,5.26700,6.37100,0.70700,1.02100,...,4.13100,3.36500,4.46900,1.87000,2.97400,1.10400,0,357.62795,-0.97906,194

# Merge with Petra Data

In [55]:
df_petra = pd.read_csv('../data/petra_data.csv')

In [62]:
final_with_petra = final.merge(df_petra, left_index = True,right_index=True)

In [63]:
final_with_petra.to_csv('../data/train_qso_wo_image.csv')